# Objectives

review core `pandas` objects: `panda.Series` and `pandas.DataFrame`

# `pandas`
- Python package to wrangle and analyze tabular data
- built on top of NumPy
- core tool for data analysis in Python

In [1]:
# import pandas with standard abbreviation
import pandas as pd

# import numpy too!
import numpy as np

# Series

A `panda.Series`:

- is one of the core data structures in `pandas`
- a 1-dimensional array of *indexed* data
- will be the columns of the `pandas.DataFrame`

# Creating a pandas Series

Several ways of creating a pandas Series. 
For now, we will create series using:

```
s = pd.Series(data, index)
```

- `data` = numpy array (or a list of objects that can be converted to NumPy types)
- `index` = a list of indices of same length as data

In [4]:
# EX: a pandas series from a numpy array

# np.arrange() function constructs an array of consecutive integers
np.arange(3)

array([0, 1, 2])

In [8]:
# we can use this to create a pandas Series
# need same number of indices as items
pd.Series(np.arange(3), index=['a','b','c'])

a    0
b    1
c    2
dtype: int64

What kind of parameter is `index`?

A: an optional parameter, there is a default value to it.

If we don't specify `index`, the default is to start the index from 0.

Example:

In [9]:
# create a series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

# Operations of series

Arithmetic operations work on series on also most NumPy functions.

Example:

In [14]:
# define a series
s = pd.Series( [98, 93, 95], index = ['Olivia', 'Liane', 'Diana'] )
print(s, '\n')

# divide each element in the series by 10:
print( s/10 )

Olivia    98
Liane     93
Diana     95
dtype: int64

Olivia    9.8
Liane     9.3
Diana     9.5
dtype: float64

Example: create a new Series with `True`/`False` values indicating whether the elements in the series satisfy a condition or not.

In [15]:
s>70

Olivia    True
Liane     True
Diana     True
dtype: bool

#### This is simple -- but important!! Using conditions on Series is key to select data from dataframes.

## Attributes & Methods

Two examples about identifying missing values.

- missing values in `pandas` are represented by `np.NaN` = not a number
- `NaN` is a type of float in NumPy

In [18]:
np.NaN

nan

In [19]:
type(np.NaN)

float

In [21]:
# series with NAs in it:
s = pd.Series([1, 2, np.NaN, 4, np.NaN])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

`hasnans` = attribute of pandas series, returns `True` if there are any NAs:

In [22]:
# check if series has NAs
s.hasnans

True

`isna()` = a *method* of series, returns a series indicating which elements are NAs:

In [23]:
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

`bool` = `True` or `False` are **boolean values**

# Dataframes

`pandas.DataFrame`:

- most used object in `pandas`
- represents tabular data (think of a spreadsheet)
- each column is a 'pandas.Series'

# Creating a `pandas.DataFrame`

*Many ways of creating a dataframe*. Let's see one.

Remember dictionaries? They are sets of key-value pairs:

```
{ key1 : value1,
  key2 : value2
}
```

Think of a `pd.DataFrame` as a dictionary where:

- keys = column names
- values = column values

We can create a dataframe like this:

In [26]:
# initialize a dictionary with columns' data
d = {'col_name_1' : np.arange(3),
     'col_name_2': [3.1, 3.2, 3.3]
    }
d

{'col_name_1': array([0, 1, 2]), 'col_name_2': [3.1, 3.2, 3.3]}

In [27]:
# create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

# In-place operations
Let's rename the data frame's columns.
We can use a dataframe *method* called `rename`.
`rename` takes in as an input a dictionary:

```
{'col_1_old_name' : 'col_1_new_name',
 'col_2_old_name' : 'col_2_new_name'}
```

In [29]:
# define new column names
col_names = {'col_name_1' : 'col1',
             'col_name_2' : 'col2'}

# rename using rename
df.rename(columns = col_names)

   col1  col2
0     0   3.1
1     1   3.2
2     2   3.3

In [30]:
# take a look at our dataframe
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

Nothing changed!
`df.rename()` doesn't change the column names *in place*, meaning it doesn't modify the object itself. Instead, it created a new object as an output.

Assign output back to dataframe to actually change it.

In [31]:
df = df.rename(columns = col_names)
df

   col1  col2
0     0   3.1
1     1   3.2
2     2   3.3